.container {
    display: flex;
    background-color: white;
    margin: 16px;
    border-radius: 16px;
}

.panel {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECECF1;
    border-radius: 8px;
    width: 250px;
    margin: 16px;
}
.bg-fake {
    position: absolute;
    z-index: 1;
    right: -12px;
    width: 24px;
    height: 100%;
    background-color: white;
    border-radius: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 12px 24px 12px 12px;
    /*
    width: 100%;
    */
    background-color: white;
    border-radius: 8px;
}

.icon-edit {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #6757EF;
    padding: 10px;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-avatar {
    height: 60px;
    width: 60px;
    background-color: #6757EF;
    border-radius: 50%;
}

.icons-content {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.icons-contact {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-bottom: 5px;
}
.icons-contact svg {
    margin-right: 5px;
    font-size: 16px;
    color: #2A374E;
}

.datas-content {
    display: flex;
    margin: 10px auto;
}

.icons-datas {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0 10px;
}
.icons-datas svg {
    font-size: 24px;
    margin-right: 5px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 0 0;
}
.progress-bar progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 3px;
    background: #EEEBFD;
    border-radius: 15px;
    border-style: none;
    /* box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.1); */
}
.progress-bar progress::-webkit-progress-bar {
    background: #EEEBFD;
    border-radius: 15px;
}
.progress-bar progress::-webkit-progress-value {
    border-radius: 15px;
    padding: 2px;
    background: #6757EF;
}
.progress-bar progress::-moz-progress-bar {
    background: #6757EF;
    border-radius: 15px;
}

.progress-info {
    color: #6757EF;
    font-size: 12px;
    margin-bottom: 10px;
}

.links-btn {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.link-btn {
    display: flex;
    justify-content: center;
    background-color: #ECECF1;
    margin: 0 24px 12px 12px;
    padding: 10px;
    border-radius: 8px;
    color: #8786A3;
    font-weight: bolder;
    width: -webkit-fill-available;
    cursor: pointer;
}
.links-btn a {
    display: flex;
    align-items: center;
}

.link-btn a svg {
    color: #8786A3;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 18px;
}
